* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(19, 18, 18);
    color: aliceblue;

    a {
        color: aliceblue;
    }

}

.home_countries {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}


.article {
    box-shadow: 1px 1px 5px rgba(145, 143, 143, 0.76);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2rem;
}


.article-div {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-left: 1.5rem;

    p {
        margin: 0;

    }
}